<?php
/**
 * The base configuration for WordPress
 *
 * The wp-config.php creation script uses this file during the
 * installation. You don't have to use the web site, you can
 * copy this file to "wp-config.php" and fill in the values.
 *
 * This file contains the following configurations:
 *
 * * MySQL settings
 * * Secret keys
 * * Database table prefix
 * * ABSPATH
 *
 * @link https://wordpress.org/support/article/editing-wp-config-php/
 *
 * @package WordPress
 */

// ** MySQL settings - You can get this info from your web host ** //
/** The name of the database for WordPress */
define( 'DB_NAME', 'wordpress' );

/** MySQL database username */
define( 'DB_USER', 'WordPress' );

/** MySQL database password */
define( 'DB_PASSWORD', 'bananas' );

/** MySQL hostname */
define( 'DB_HOST', 'localhost' );

/** Database Charset to use in creating database tables. */
define( 'DB_CHARSET', 'utf8mb4' );

/** The Database Collate type. Don't change this if in doubt. */
define( 'DB_COLLATE', '' );

/**#@+
 * Authentication Unique Keys and Salts.
 *
 * Change these to different unique phrases!
 * You can generate these using the {@link https://api.wordpress.org/secret-key/1.1/salt/ WordPress.org secret-key service}
 * You can change these at any point in time to invalidate all existing cookies. This will force all users to have to log in again.
 *
 * @since 2.6.0
 */
define( 'AUTH_KEY',         'Va%(>Q2(@g_|{7}k}/pGUnhOyaF&$w+gT;9],Bp_#CJnR|Qw$,~>OTVakde9^K K' );
define( 'SECURE_AUTH_KEY',  '1]X~=hQ.3REA`*|<]!8G(0g_f=#$kh>yl4W|o,JH9o,k;gz(P8N?`:v~fFSq2ECZ' );
define( 'LOGGED_IN_KEY',    '{yJXKER.H]!V*3.C0sxg,1pg6y^}@lr@s_`?3(fZEgCg_YNUgh%YKpTzHeL%-AJ.' );
define( 'NONCE_KEY',        'eQ6W:[=n{Om$.F^AbD7o+J=H@%&/{[FEp:UTpW`^opUJi;{G`s4I:WitF%ppJ#x2' );
define( 'AUTH_SALT',        '-P<B<PepfK)j#^Cy)m w+|s3+Z<[>qUHpF:Me)8wPO;|HT)gVT&l&!_97zi/_;;0' );
define( 'SECURE_AUTH_SALT', '7s9aZhY1RQ6&`G8mY;_ITH$7j0$mx*8Jx>-)+t70Kj^2eXWt<d*BrC{Ta0/UlXM=' );
define( 'LOGGED_IN_SALT',   'lF,;<8C>?KlB_!&DbS<)$3#y2zGFxlU<eJ^WL$W {%dD|<6)z;Tj1.SZ_KD-~+ws' );
define( 'NONCE_SALT',       '4V(8(g)}p-oms<7H79D|daun=5ID`JMZVka^[O9@C0JKTwbZx=6r#-x3orO=y]|<' );

/**#@-*/

/**
 * WordPress Database Table prefix.
 *
 * You can have multiple installations in one database if you give each
 * a unique prefix. Only numbers, letters, and underscores please!
 */
$table_prefix = 'wp_';

/**
 * For developers: WordPress debugging mode.
 *
 * Change this to true to enable the display of notices during development.
 * It is strongly recommended that plugin and theme developers use WP_DEBUG
 * in their development environments.
 *
 * For information on other constants that can be used for debugging,
 * visit the documentation.
 *
 * @link https://wordpress.org/support/article/debugging-in-wordpress/
 */
define( 'WP_DEBUG', false );

/* That's all, stop editing! Happy publishing. */

/** Absolute path to the WordPress directory. */
if ( ! defined( 'ABSPATH' ) ) {
	define( 'ABSPATH', __DIR__ . '/' );
}

/** Sets up WordPress vars and included files. */
require_once ABSPATH . 'wp-settings.php';
